.lead__image-bg {
  padding: 0;
  margin: 64px 0 8px 0;
  width: 100%;
  height: calc(0.625*(100% - 296px));
  object-fit: contain;
}

@media screen and (max-width: 1279px) {
  .lead__image-bg {
    margin: 56px 0 8px 0;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image-bg {
    margin: 56px 0 8px 0;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .lead__image-bg {
    margin: 40px 0 8px 0;
    width: 100%;
    height: auto;
  }
}