.cover {
  position: relative;
  margin: 92px 48px 0;
  padding: 0;
  max-width: 1184px;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    margin: 92px 0 0;
    max-width: 100vw;
    height: 62.5vw;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 66px 0 0;
    max-width: 100vw;
    height: 62.5vw;
  }
}