.place__website {
  padding: 0;
  margin: 0 0 48px;
  align-self: flex-end;
  width: 484px;
}

@media screen and (max-width: 1279px) {
  .place__website {
    width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__website {
    width: 342px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    margin: 0 16px 32px;
    width: calc(100% - 32px);
    align-self: flex-start;
  }
}

